<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>
<style>
  @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300&display=swap");

  * {
    color: white;
  }

  h1 {
    text-align: center;
    color: #1abc9c;
  }

  Button {
    padding: 10px 20px;
    background: #1abc9c;
    cursor: pointer;
  }
</style>

<body>
  <form class="validate">
    <button class="button">
      <a href="{{.URL}}">Confirm email</a>
    </button>
  </form>
</body>

</html>